@import "./sub/sidebar.scss";
@import "./sub/integrationSettings.scss";
@import "./sub/generalSettings.scss";
@import "./sub/importSettings.scss";

.cwp_settings_root {
	margin: 30px 0;
	display: grid;
	grid-template-columns: 15% 85% 0;

	.cwp-responsive-sidebar {
		display: none;
		background-color: transparent !important;

		@include breakpoint("sm") {
			width: 100%;
			display: block;
			border-right: none;
			padding-right: 0;
			text-align: right;
			margin: 0 0 20px 0;
		}

		div {
			select {
				width: 100%;
			}
		}
	}

	.cwp-full-sidebar {
		display: block;

		@include breakpoint("sm") {
			display: none;
		}

		@include breakpoint("xss") {
			display: none;
		}
	}

	@include breakpoint("sm") {
		display: block;
		border: none;
	}

	@include breakpoint("xss") {
		display: block;
		border: none;
	}

	border: 1px solid #ccc;
	min-height: 550px;

	& .cwp_settings_fields_root {
		padding: 30px;
		background-color: #fff;
	}
}
