.cwp-header {
  background: #fff;

  & .cwp_header_content {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;

    @include breakpoint("md") {
      flex-direction: column;
      padding-top: 20px;
      justify-content: center;
      align-items: center;
    }

    & .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & .plugin_version {
        margin: auto 0px 10px 0px;
        background: #686767;
        color: #fff;
        padding: 1px 8px;
        border-radius: 17px;
      }
    }
  }
}
