.cwp-columns-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @include breakpoint("sm") {
    flex-direction: column;
  }

  .col-chk {
    margin-right: 10px;
    user-select: none !important;
    @include breakpoint("sm") {
      margin: 10px 0px !important;
    }
  }
}

.form-entries-table {
  width: 100%;
  overflow-x: scroll;
  @include scrollbar();
}

.cwp-form-details {
  .cwp-form-details-root {
    .cwp-form-detail-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h1.total-entries {
        font-weight: 300;

        @include breakpoint("sm") {
          margin-top: 40px;
        }
      }

      @include breakpoint("sm") {
        flex-direction: column;
      }
    }

    .actions {
      a {
        text-decoration: none !important;
        margin-right: 10px;
      }

      @include breakpoint("sm") {
        text-align: center;
      }
    }
    .detail-head {
      span {
        font-size: 15px;
        color: #655e5e;
        margin-left: 10px;
        font-weight: 400;
      }

      @include breakpoint("sm") {
        font-size: 18px;
        line-height: 20px;
      }
    }

    .cwp-loader {
      padding: 50px 0px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.cwp-entries-root {
  .chart {
    background-color: #fff;
    position: relative;
    .cwp-bar-loader {
      position: absolute;
      display: flex;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .cwp-spin {
        margin: 0px 0px 0px 10px !important;
      }
    }

    .cwp-bar-error {
      align-items: center;
      text-align: center;
      position: absolute;
      top: 50%;
      display: flex;
      left: 50%;
      transform: translate(-50%, -50%);
      button {
        margin-left: 10px;
      }
    }
  }
  .cwp-entries-main-header {
    .cwp-head {
      padding: 10px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0;
      }
    }
    .cwp-foot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0px;
      align-items: center;

      div {
        display: flex;
      }

      .extra-filters {
        flex: 2;
        display: flex;
        justify-content: flex-end;

        .cwp-export {
          margin-right: 10px;
        }

        .cwp-search-entries {
          width: 50%;
          text-align: left;
          * {
            width: 100%;
            height: 100%;
          }

          @include breakpoint("sm") {
            width: 90%;
          }
        }
      }
    }
  }

  .cwp-entries-table {
    th {
      @include breakpoint("sm") {
        display: none;
      }
    }

    tr {
      @include breakpoint("sm") {
        &:nth-child(odd) {
          background-color: #ececec;
        }
      }
    }

    td {
      width: 1%;
      white-space: nowrap;
      .field-title {
        display: none;
        @include un-selectable();

        @include breakpoint("sm") {
          display: inline-block;
          margin-right: 10px;
          font-size: 15px;
        }
      }
    }
    .cwp-entries-prompt {
      text-align: center;
      padding: 50px 0px;
      .content {
        span {
          vertical-align: bottom;
        }
        button {
          margin-left: 10px;
        }
      }
    }

    #actions,
    .actions {
      text-align: right;

      @include breakpoint("sm") {
        text-align: left;
      }
    }
  }

  .cwp-pagination {
    text-align: right;
    padding: 10px 0px;
    .tablenav-pages {
      span {
        margin: 0px 2px;
      }
    }
    #current-page-selector {
      width: 50px;
    }
  }
}
