.cwp-export-modal {
  width: 80% !important;

  .cwp-export-opts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    @include breakpoint("md") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint("sm") {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint("xs") {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint("xxs") {
      grid-gap: 0px;
      grid-row-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }

    .cwp-export-opt {
      text-align: center;
      justify-content: center;
      padding: 20px 30px 30px 30px;
      border: 1px solid #ccc;

      .head {
        text-align: right;
        padding: 10px 0px;
        width: 100%;
        .cwp-badge {
          &.free {
            border: 1px solid #9094a6;
            color: #9094a6;
          }

          &.pro {
            border: 1px solid #000;
            color: #000;
          }

          font-size: 9px;
          letter-spacing: 0.8px;
          line-height: 1;
          border-radius: 3px;
          padding: 4px 5px;
        }
      }

      .cwp-exp-btn {
        width: 100%;
        text-align: center;
        justify-content: center;
      }
    }
  }

  @include breakpoint("xs") {
    width: 100% !important;
  }
}
