.cwp-entry {
  position: relative;

  .cwp-loader {
    background-color: #fff;
    padding: 100px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    h1 {
      @include breakpoint("sm") {
        font-size: 15px;
      }
    }

    .back-to-list {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 20px 0px;

      div {
        display: flex;
        flex-direction: row;
      }

      button {
        display: flex;
        align-items: center;
        flex-direction: row;
        svg {
          @include dimensions(15px);
          margin: 0px 5px;
        }
      }
    }

    .content-head-info {
      .status-main {
        text-align: right;
        .status {
          border-radius: 5px;
          padding: 5px 10px;
          text-align: center;
          color: #fff;

          &.read {
            background-color: #3d8d3d;
          }
          &.unread {
            background-color: #aba2ab;
          }
        }
      }

      .links {
        margin-top: 15px;
        display: flex;
        a,
        button {
          margin-right: 10px;
        }
      }

      .date {
        display: flex;
        align-items: center;
        color: grey;

        .calendar {
          margin-right: 5px;
        }
      }

      .foot {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .danger {
          background-color: #b83030 !important;
          color: #fff !important;
        }

        .more-actions {
          display: flex;
          flex-direction: row;
          button {
            margin-right: 5px;
          }
        }
      }
    }
    .cwp-field-details {
      button.cwp-tab-btn {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 15px 30px;
        cursor: pointer;
        &.active {
          background: #fff;
          border: 1px solid #ccc;
          border-bottom: 2px solid #fff;
          margin-bottom: -5px;
          font-weight: 500;
        }
      }

      table {
        border-spacing: 0px;
        border: 1px solid #ccc;
        width: 100%;

        td {
          padding: 20px;
          border-bottom: 1px solid #ccc;

          pre {
            width: 100%;
            white-space: pre-wrap;
          }
        }

        tr:last-child {
          td {
            border-bottom: none !important;
          }
        }
      }
    }

    .cwp-field-details-card {
      border: 1px solid #ccc;
    }
  }

  .sidebar {
    button.maxed {
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      svg {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
    }
  }
}
