@import "./variables";
@import "./pre_mixins";



@mixin normalize_button() {
	border: none;
	outline: none;
}

@mixin Introduction() {
	background: #eee;
	text-align: center;
	padding: 40px 50px;

	& .cwp-form-types {
		& button {
			margin: 0px 10px !important;
		}
	}
}

@mixin dashicon() {
	font-family: dashicons;
	display: inline-block;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 20px;
	height: 20px;
	font-size: 17px;
	padding: 0px;
	vertical-align: top;
	text-align: center;
	transition: color 0.1s ease-in;
}

@mixin buttonAlignment() {
	&.justify-start {
		justify-content: start;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-end {
		justify-content: flex-end;
	}
}

@mixin defaultSubmit() {
	border: none;
	outline: none;
	padding: 10px 25px;
	letter-spacing: 1px;
}

@mixin field() {
	margin: 20px 0px;

	input {
		width: 100%;
		padding: 10px 10px;
		transition: 0.5s;
	}

	& input.error {
		border: 1px solid $danger;
		outline: $danger;

		&:focus {
			border: 1px solid $danger;
			outline: $danger;
		}
	}

	& label.error {
		color: $danger;
	}

	& textarea {
		width: 100%;
		padding: 10px 10px;
		max-width: 100%;
		height: 257px;
		display: block;
	}

	& textarea.error {
		border: 1px solid $danger;
		outline: $danger;

		&:focus {
			border: 1px solid $danger;
			outline: $danger;
		}
	}

	& label {
		& abbr {
			color: $danger;
			font-weight: 600;
		}
	}
}

@mixin checkbox-field($preview_type) {
	@if $preview_type == "backend" {
		& .cwp-checkbox-option {
			display: flex;
			margin: 10px 0px;
			& input[type="text"] {
				width: 100%;
			}

			& input[type="checkbox"] {
				margin: 5px 5px 0px 0px;
			}
		}

		& .cwp-image-preview {
			@include ImagePreview();
		}

		& .cwp-checkbox-controls {
			& button {
				color: $primaryColor;
				border: 1px solid $primaryColor !important;
				padding: 3px 11px;
				background-color: #fff;
				@include normalize_button();
			}
		}

		& button {
			margin: 0px 5px;
		}
	} @else {
		& label {
			& .cwp-checkbox-image {
				margin: 10px 0px;
			}

			& span {
				color: darken($secondaryColor, 20%);
				font-weight: 600;
			}
		}

		& .cwp-checkbox-option {
			display: flex;
			margin: 10px 0px;
			position: relative;
			& label {
				width: 100%;
			}

			& input[type="checkbox"] {
				margin: 5px 5px 0px 0px;
			}

			& input[type="checkbox"].error {
				color: $danger;
			}

			& label.error {
				color: $danger;
				position: absolute;
				bottom: -20px;
			}
		}
	}
}

@mixin radio-field($preview_type) {
	@if $preview_type == "backend" {
		& .cwp-radios-option {
			display: flex;
			margin: 10px 0px;
			& input[type="text"] {
				width: 100%;
			}

			& input[type="radio"] {
				margin: 5px 5px 0px 0px;
			}
		}

		& .cwp-image-preview {
			@include ImagePreview();
		}

		& .cwp-radios-controls {
			& button {
				color: $primaryColor;
				border: 1px solid $primaryColor !important;
				padding: 3px 11px;
				background-color: #fff;
				@include normalize_button();
			}
		}
		& button {
			margin: 0px 5px;
		}
	} @else {
		& label {
			& span {
				color: darken($secondaryColor, 20%);
				font-weight: 600;
			}
			& .cwp-checkbox-image {
				margin: 10px 0px;
			}
		}

		& .cwp-radio-option {
			display: flex;
			margin: 10px 0px;
			position: relative;
			& label {
				width: 100%;
			}

			& input[type="radio"] {
				margin: 5px 5px 0px 0px;
			}
			& label.error {
				color: $danger;
				position: absolute;
				bottom: -20px;
			}
		}
	}
}

@mixin select-field($preview_type) {
	@if $preview_type == "backend" {
		& .cwp-select-option {
			display: flex;
			margin: 10px 0px;
			& input[type="text"] {
				width: 100%;
			}

			& input[type="select"] {
				margin: 5px 5px 0px 0px;
			}
		}

		& select {
			width: 100%;
			max-width: 100%;
		}

		& .cwp-select-controls {
			& button {
				color: $primaryColor;
				border: 1px solid $primaryColor !important;
				padding: 3px 11px;
				background-color: #fff;
				@include normalize_button();
			}
		}
		& button {
			margin: 0px 5px;
		}
	} @else {
		& label {
			& span {
				color: darken($secondaryColor, 20%);
				font-weight: 600;
			}
		}

		& label.error {
			color: $danger;
		}

		& select.error {
			outline: $danger;
			border: 1px solid $danger;
		}

		& {
			display: flex;
			flex-direction: column;
			margin: 10px 0px;

			& label {
				width: 100%;
			}
		}
	}
}

@mixin isRequired($type) {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	& h3 {
		font-size: 11px !important;
		margin: 0px 8px !important;
		color: if($type == "noticed", $danger !important, $primaryColor !important);
	}
}

@mixin column() {
	& .cwp-col {
		& .block-list-appender {
			width: 90% !important;
			margin: auto;
		}

		& .editor-block-list__layout {
			& div[data-type] {
				margin: 0 !important;
			}
		}

		& .cwp-col_inserter {
			flex-direction: column !important;
		}
	}

	& .block-editor-inner-blocks:nth-child(1) {
		& .block-editor-block-list__layout:nth-child(1) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			& .cwp-col {
				& .block-editor-block-list__layout {
					display: flex;
					flex-direction: column !important;
				}

				& .cwp-radios-set,
				& .cwp-checkbox-set,
				& .cwp-select-set {
					& .cwp-radios-option,
					& .cwp-checkbox-option,
					& .cwp-select-option {
						& input[type="text"] {
							width: 100vw !important;
						}
					}
				}
			}

			& [data-type="cwp/column"] {
				width: 50%;
				transform-origin: center center;
				margin: 0px 10px;

				& .cwp-col_inserter {
					& div[data-type] {
						margin: 0 !important;
					}

					& div:nth-child(1) {
						& button.components-button {
							width: 90% !important;
							margin: auto;
						}
					}
				}
			}
		}
	}
}

@mixin column_introduction() {
	background-color: #eee;
	padding: 30px 10px;

	& h3 {
		margin-left: 10px !important;
	}

	& p {
		margin: 0px 0px 10px 10px;
		font-size: 13px;
	}

	& button.cwp_selector {
		@include normalize_button();
		margin: 0px 10px;
		color: $primaryColor;
		border: 1px solid $primaryColor;
		padding: 10px 14px;

		&:hover {
			background-color: $primaryColor;
			color: #fff;
		}
	}
}

@mixin captcha() {
	& .cwp-captcha-inner {
		@include field();
	}
}

@mixin templateBuilder() {
	background: #eee;
	padding: 20px;

	& h3 {
		text-align: center;

		& svg {
			vertical-align: bottom;
		}
	}

	& p {
		color: #746b6b;
	}

	& .cwp_data_drop {
		text-align: right;

		& span {
			vertical-align: text-bottom;
		}

		& button {
			margin-left: auto !important;
			color: #000 !important;
		}
	}

	& .cwp-builder-field {
		display: block;
		margin: 10px 0px;

		& label {
			& span {
				color: $danger;
			}
		}

		& textarea {
			width: 100%;
			height: 300px;
		}

		& input {
			width: 100%;
		}
	}

	& .cwp-save_template {
		text-align: right;
	}
}

@mixin getSelectiveStyling($icon, $type) {
	& input[type="#{$type}"] {
		opacity: 0;
		position: absolute;
	}

	& input[type="#{$type}"],
	label {
		display: inline-block;
		vertical-align: middle;
		margin: 5px;
		cursor: pointer;
	}
	& label {
		position: relative;
		width: auto;
	}
	& input[type="#{$type}"] + label::before {
		content: "";
		background: #fff;
		border: 2px solid #ddd;
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		padding: 2px;
		margin-right: 10px;
		border-radius: if($type == "radio", 100%, 0%);
		text-align: center;
	}
	& input[type="#{$type}"]:checked + label::before {
		content: if($type == "radio", "", $icon);
		background: if($type == "radio", #928e8eeb, #fff);
		@include dashicon();
	}
}

@mixin successMessage() {
	
	border-left: 2px solid green;
	padding: 20px 20px;
	background: #00800030;

	& div.wrapper {
		display: flex;
		justify-content: space-between;

		& span {
			display: flex;
    		flex-direction: column;
    		justify-content: center;
		}
	}
}

//form styles

@mixin bordered() {
	& .cwp-field {
		& input {
			border: 3px solid;
			background-color: transparent;
		}

		& textarea {
			border: 3px solid;
			background-color: transparent;
		}
	}
}

@mixin paper() {
	& .cwp-field {
		& select,
		& textarea,
		& input {
			border-bottom: 2px solid;
			border-top: 1px solid #eee;
			border-right: 1px solid #eee;
			border-left: 1px solid #eee;
			background-color: transparent;

			&:focus {
				outline: none;
				border-bottom: 2px solid $primaryColor;
			}
		}

		&.cwp-radio,
		&.cwp-radios {
			& .cwp-radio-set,
			& .cwp-radios-set {
				& .cwp-radio-option,
				& .cwp-radios-option {
					@include getSelectiveStyling("\f12a", "radio");
				}
			}
		}

		&.cwp-checkbox {
			& .cwp-checkbox-set {
				& .cwp-checkbox-option {
					@include getSelectiveStyling("\f147", "checkbox");
				}
			}
		}
	}
}

@mixin inline-field($margin) {
	display: flex;
	flex-direction: row; //for inline label
	align-items: top;

	& .cwp-switch {
		width: 70px !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}

	& .cwp-radios-option,
	& .cwp-checkbox-option {
		margin: 0px 10px;
	}

	& select {
		width: 100%;
	}

	& div[role="textbox"] {
		display: flex;
		width: auto !important;
		margin: $margin;

		& span {
			margin: 0px 5px;
		}
	}

	& label {
		display: flex;
		width: auto !important;
		margin: $margin;

		& .cwp-checkbox-image {
			margin: 0px 12px;
		}

		& span {
			margin: 0px 5px;
		}
	}
}

@mixin switch() {
	& .cwp-switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
		display: flex;
		margin: 10px 0px;
		flex-direction: column;

		& input {
			opacity: 0;
			width: 0;
			height: 0;

			&:checked + .cwp-slider {
				background-color: #2196f3;
			}

			&:checked + .cwp-slider:before {
				transform: translateX(26px);
			}
		}

		& .cwp-slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: 0.4s;
			transition: 0.4s;

			& input {
				& input {
					&:focus + .cwp-slider {
						box-shadow: 0 0 1px #2196f3;
					}
				}
			}

			&::before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}

			& .cwp-round {
				border-radius: 34px;
				&::before {
					border-radius: 50%;
				}
			}
		}
	}
}

@mixin group() {
	& legend {
		margin: 0px 0px 20px 0px;
		padding: 0;
		float: left;
		clear: both;
		font-size: 15px;
	}

	& .cwp-group-fields {
		clear: both;
	}
}

@mixin formulaBuilder() {
	& .cwp-form-available-fields {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		& h4 {
			font-size: 12px;
		}
	}

	& textarea {
		width: 100%;
		max-height: 200px;
		height: 200px;
	}
}

@mixin buttonStyle() {
	& input {
		width: 0;
		height: 0;
		position: absolute;
		left: -9999px;

		& + label {
			margin: 0;
			padding: 0.75rem 2rem;
			box-sizing: border-box;
			position: relative;
			display: inline-block;
			border: solid 1px #ddd;
			background-color: #fff;
			font-size: 1rem;
			line-height: 140%;
			font-weight: 600;
			text-align: center;
			box-shadow: 0 0 0 rgba(255, 255, 255, 0);
			-webkit-transition: border-color 0.15s ease-out, color 0.25s ease-out,
				background-color 0.15s ease-out, box-shadow 0.15s ease-out;
			transition: border-color 0.15s ease-out, color 0.25s ease-out,
				background-color 0.15s ease-out, box-shadow 0.15s ease-out;
		}
	}
}

@mixin divider() {

	& .divider {
		display: table; 
		font-size: 24px; 
		text-align: center; 
		width: 75%; 						/* divider width */
		margin: 40px auto;	

		& span {
			display: table-cell; position: relative;
			font-size: 16px;

			&:first-child {
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
		background-image: -webkit-linear-gradient(180deg, transparent, #000);
		background-image: -moz-linear-gradient(180deg, transparent, #000);
		background-image: -o-linear-gradient(180deg, transparent, #000);
		background-image: linear-gradient(90deg, transparent, #000);
			}
		}

		& span:first-child, & span:last-child {
			width: 50%;
			top: 13px;							/* adjust vertical align */
			-moz-background-size: 100% 2px; 	/* line width */
			background-size: 100% 2px; 			/* line width */
			background-position: 0 0, 0 100%;
			background-repeat: no-repeat;
		}

		& span:nth-child(2) {
			color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
		}
		& span:last-child {				/* color changes in here */
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
			background-image: -webkit-linear-gradient(180deg, #000, transparent);
			background-image: -moz-linear-gradient(180deg, #000, transparent);
			background-image: -o-linear-gradient(180deg, #000, transparent);
			background-image: linear-gradient(90deg, #000, transparent);
		}
	}


}

// @mixin fileUpload() {

// }